<div class="footer footer-top">
  <div class="container">
    <div class="footer-top-title">Some of our valued clients:</div>
    <div class="valued-clients">
        <img alt="Freemasons" src="/assets/img/logos/Freemasons.png">
        <img alt="Colac-Otway" src="/assets/img/logos/Colac-Otway.png">
        <img alt="Mitchell" src="/assets/img/logos/Mitchell.png">
        <img alt="ambulance" src="/assets/img/logos/ambulance.png">
        <img alt="body-corporate" src="/assets/img/logos/body-corporate.png">
        <img alt="each" src="/assets/img/logos/each.png">
        <img alt="estia-health" src="/assets/img/logos/estia-health.png">
    </div>
  </div>
</div>
