<div class="footer footer-bottom">
  <div class="container">
    <div class="row">
      <div class="logo col-md-1 col-sm-2 hidden-xs">
        <img src="/assets/img/AESG-logo.jpg">
      </div>
      <div class="brand col-md-9 col-sm-7">
        <div><strong>Australian Essential Services Group</strong></div>
        <address>
          <div>1st Floor, 77 Upper Heidelberg Road, Ivanhoe, VIC 3079</div>
          <div>PO Box 288, Ivanhoe VIC 3079</div>
        </address>
      </div>
      <div class="contact col-md-2 col-sm-3">
        <div><b>T</b>: 03 9499 6504</div>
        <div><b>F</b>: 03 9499 4693</div>
      </div>
    </div>
    <div class="row associates">
      <div class="col-xs-2"><img alt="fpa" src="/assets/img/logos/fpa.png"></div>
      <div class="col-xs-2"><img alt="trades-monitor" src="/assets/img/logos/trades-monitor.png"></div>
      <div class="col-xs-2"><img alt="aibs" src="/assets/img/logos/aibs.png"></div>
      <div class="col-xs-2"><img alt="master-locksmiths" src="/assets/img/logos/master-locksmiths.png"></div>
      <div class="col-xs-2"><img alt="sca" src="/assets/img/logos/sca.png"></div>
      <div class="col-xs-2"><img alt="rbp" src="/assets/img/logos/rbp.png"></div>
    </div>
  </div>
</div>
