<div class="footer footer-bottom">
  <div class="container">
    <div class="row">
      <div class="logo col-md-1 col-sm-2 hidden-xs">
        <img src="/assets/img/AESG-logo.jpg">
      </div>
      <div class="brand col-md-9 col-sm-7 col-xs-8">
        <div><strong>Australian Essential Services Group</strong></div>
        <address>1st Floor, 77 Upper Heidelberg Road <br class="sep"> Ivanhoe, Vic 3079<br> PO Box 288, Ivanhoe Vic 3079</address>
      </div>
      <div class="contact col-md-2 col-sm-3 col-xs-4 text-right">
        <div><b>T</b>: 03 9499 6504</div>
        <div><b>F</b>: 03 9499 4693</div>
      </div>
    </div>
    <div class="row associates">
      <div class="col-xs-2"><img class="img-responsive" alt="fpa" src="/assets/img/logos/fpa.png"></div>
      <div class="col-xs-2"><img class="img-responsive" alt="trades-monitor" src="/assets/img/logos/trades-monitor.png"></div>
      <div class="col-xs-2"><img class="img-responsive" alt="aibs" src="/assets/img/logos/aibs.png"></div>
      <div class="col-xs-2"><img class="img-responsive" alt="master-locksmiths" src="/assets/img/logos/master-locksmiths.png"></div>
      <div class="col-xs-2"><img class="img-responsive" alt="sca" src="/assets/img/logos/sca.png"></div>
      <div class="col-xs-2"><img class="img-responsive" alt="rbp" src="/assets/img/logos/rbp.png"></div>
    </div>
  </div>
</div>
