<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/app.css">
    </head>
    <body>
        {% include navigation.html %}
        <main class="container">
            {{ content }}
        </main>
        <footer>
        {% if page.section == 'home' %}
            {% include clients.html %}
        {% endif %}
        {% include footer.html %}
        </footer>
    </body>
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="/assets/js/app.js"></script>
</html>
